@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
@keyframes slideInFromTop {
    0% {
      transform: translateY(-300%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }

.header__figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header__logo {
        width: 50%;
        height: 50%;
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }

    .header__ball {
        width: 8%;
        height: 8%;
        position: relative;
        bottom: 120px;
        animation: 1s ease-out 0s 1 slideInFromTop;
    }
}
