* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/Content/container_bg.png");
    width: 100%;
    height: 100vh;
}

.main {
    margin-top: 5%;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.main__cards {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.main__card {
    // width: 215px;
    display: flex;
    flex: 0 21%; 
    flex-direction: column;
    align-items: flex-start;

    .card__image {
        background-color: rgba(189, 189, 189, 0.482);
    }
}