.search__bar {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 12px;

    .main__search {
        width: 30%;
        font-size: 1rem;
        padding: 10px 10px 10px 10px;
        border: 1px solid #ddd;
        margin-right: 2%;
    }
}